<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<%= search_form_for @search do |f| %>
    <div class="card-block", style='margin-bottom: 15px;'>
      <div class="row">
        <div class="col-lg-3 col-xl-3">
          <%= f.select :rating_eq, [['PG', 0], ['U/A', 1], ['R', 2]].unshift(['select rating', '']), {}, class: 'form-control'%>
        </div>
        <div class="col-lg-3 col-xl-3">
          <button type="submit" class="btn btn-success btn-sm"><%= "<i class='fa fa-search'></i> Search".html_safe %>
          </button>
          <%= link_to "<i class='fa fa-refresh'></i> Reset".html_safe, '', class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @movies %>