
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <%= time_ago_in_words(@movie.created_at) %> ago by user_id =<%= @movie.user_id %>
        <br>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating.humanize.upcase %></td>
              </tr>
            </tbody>
          </table>
          <div class="pull-left">
            <%= link_to "Write a Review", new_movie_review_path(@movie), class: 'btn btn-primary btn-sm' %>
          </div>
          <div class="pull-right">
            <%= link_to "Add to favourites", movie_favourites_path(@movie), method: :post, class: 'btn btn-success btn-sm' %>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.Comment %></p>
              
            <% if can? :update, review %>
               <%= link_to 'Edit', edit_movie_review_path(@movie) %> |
             <% end %>
             <% if can? :destroy, review %>
               <%= link_to 'Destroy', movie_review_path(@movie), method: :delete, data: { confirm: 'Are you Sure'} %>
             <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<% if can? :update, @movie %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
<% end %>

<%= link_to 'Back', movies_path %> |

<% if can? :destroy, @movie %>
  <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you Sure'} %>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>